
.swiper {
    &-container-1-1by2 .swiper-slide{
        width: 90% !important;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        align-items: center;
    }
    &-pagination {
        position: relative;
        padding:20px 0;
        &-bullet {
            background-color: $primary;
        }
    }
}
